<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%highlight(%level)|%thread|%green(%logger{20})]: %m%n%xThrowable</pattern>
			<!--<pattern>%m%n%xThrowable</pattern>-->
		</encoder>
	</appender>

	<!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
		<!--<file>emulio.log</file>-->
		<!--<append>false</append>-->
		<!--<encoder>-->
			<!--<pattern>%d{HH:mm:ss} [(%level)|%thread|%logger{20}]: %m%n%xThrowable</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->


	<logger name="ch.qos.logback" level="DEBUG" additivity="true"/>

	<logger name="com.github.emulio" level="TRACE"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="FILE" />-->
	</root>

</configuration>
