<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%highlight(%level)|%thread|%green(%logger{20})]: %m%n%xThrowable</pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="WARN" additivity="true"/>

	<logger name="com.github.emulio" level="DEBUG"/>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
